[submodule "pi-packages/pi-mcp-adapter"]
	path = pi-packages/pi-mcp-adapter
	url = https://github.com/nicobailon/pi-mcp-adapter.git
[submodule "pi-packages/rpiv-mono"]
	path = pi-packages/rpiv-mono
	url = https://github.com/juicesharp/rpiv-mono.git
[submodule "pi-packages/context-mode"]
	path = pi-packages/context-mode
	url = https://github.com/mksglu/context-mode.git
