/* === Gruvbox Dark Theme === */
* {
    font-family: "Berkeley Mono", monospace;
    font-size: 10pt;
}

/* Background of bar */
#waybar {
    background-color: #282828;  /* Dark1 */
    color: #ebdbb2;             /* Light2 */
    border-bottom: 0px solid #fabd2f; /* Yellow border for active bar */
}

/* Workspace module */
#workspaces button {
    background-color: #3c3836;
    color: #ebdbb2;
    padding: 0 0px;
    min-width: 24px;       /* ensures button is always square */
    min-height: 24px;
    border-radius: 0px;    /* remove rounded corners */
}

#workspaces button.focused {
    background-color: #d79921;  /* Yellow highlight */
    color: #282828;             /* Dark0 */
/*    border: 1px solid #ebdbb2; */
}

#workspaces button.urgent {
    background-color: #cc241d;  /* Red urgent */
    color: #282828;
}

/* Clock module */
#clock {
    color: #458588;  /* Blue */
}

/* Network module */
#network {
    color: #b8bb26;  /* Green */
}

/* Battery module */
#battery {
    color: #fe8019;  /* Orange */
}

/* Pulseaudio module */
#pulseaudio {
    color: #d3869b;  /* Purple */
    padding: 0 12px;
}

/* Hover and focus states */
#workspaces button:hover {
    background-color: #504945;  /* Dark2 hover */
    color: #fbf1c7;             /* Light1 */
}

#tray * {
    color: #ebdbb2;
    padding: 0 6px;
}

#window {
    color: #b8bb26;
    padding: 0 12px;
}
